DATABASE_URL="postgresql://postgres:postgres@localhost:5432/the_schedule"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"

RESEND_API_KEY=""
EMAIL_FROM="The Schedule <schedule@example.com>"
